:host {
  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin: 0;
    }
    .span-add-button {
      padding:  6px 12px;
      background-color: rgb(62, 148, 62);
      border-radius: 12px;
      color: #fff;
      cursor: pointer;
      transition: all .3s ease-in-out;
    }
    .span-add-button:hover {
      background-color: rgb(8, 205, 8);
      color: #e9e2e2;
    }
  }
}
